/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   font-family: "Tinos";
   font-style: normal;
   font-weight: 400;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
   color: #fff;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/*--------------------*/

.container {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0px 10px;
}

.header {
   min-height: 800px;
   background: url("../images/bg/bg.jpg") center / cover no-repeat;
}

.header__container {
   position: relative;
}

.header__line {
   padding-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-family: "Open Sans";
}
/* .header__logo {
}
.nav {
} */

.nav__item {
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;

   margin-right: 25px;

   transition: 0.3s all linear;
}

.nav__item:last-child {
   margin-right: 35px;
}

.nav__item:hover {
   color: #ff7400;
}
.cart {
   position: relative;

   border-right: 1px solid #fff;
   height: 50px;
}

.cart__img {
   position: absolute;
   top: 18px;
   right: 21px;

   width: 15px;
   height: 15px;
}

/* .phone {
} */

.phone__holder {
   display: flex;
   align-items: center;
   margin-bottom: 2px;
}
.phone__icon {
   margin-right: 8px;
}

.phone__number {
   color: #fff;
   font-weight: 700;
}

.phone__number:hover {
   color: #ff7400;
   transition: 0.5s all;
}
.phone__text {
   max-width: 154px;
   color: #fff;
   font-weight: 400;
   line-height: 18px;
}
.btn {
   padding: 14px 18px;
   background: #ff7400;

   font-family: "Open Sans";
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: #fff;
   transition: 0.5s all linear;
}

.btn:hover {
   background: #ffffff;
   color: #ff7400;
}

.header__down {
   position: absolute;
   top: 245px;
   left: 47px;
   color: #d67e35;
   text-align: center;
}
.header__down .btn {
   padding: 14px 28px;
}
.header__title {
   font-size: 50px;
   line-height: 57px;
}
.header__subtitle {
   font-size: 80px;
   line-height: 92px;

   margin-bottom: 12px;
}
.header__suptitle {
   position: relative;

   margin-bottom: 21px;

   font-family: "Open Sans";
   font-size: 18px;
   line-height: 25px;
   color: #ffffff;
   text-transform: uppercase;
}

.header__suptitle::after {
   content: "";
   position: absolute;
   height: 2px;
   width: 61px;
   background-color: #fff;
   top: 11px;
   left: 86px;
   display: block;
}

.header__suptitle::before {
   content: "";
   position: absolute;
   height: 2px;
   width: 61px;
   background-color: #fff;
   top: 11px;
   right: 86px;
   display: block;
}

.cards {
   display: flex;
   justify-content: space-between;

   margin-top: -107px;
   margin-bottom: 150px;
}

.card {
   margin-right: 10px;
   padding: 35px 20px 10px;
   width: 349px;
   height: 328px;
   text-align: center;
   background-color: #fff;
   box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
   font-size: 26px;
   line-height: 30px;
   color: #2c2c2c;
}
.card:last-child {
   margin-right: 0;
}
.card__img {
   margin-bottom: 4px;
}
.card__title {
   margin-bottom: 20px;
}
.card__title span {
   color: #bc9060;
}
/* .card__subtitle {
}
.card__descr {
} */
.history {
   margin-bottom: 122px;
}
.history__holder {
   display: flex;
   justify-content: space-between;
}
.history__info {
   max-width: 444px;
   justify-content: center;
   text-align: center;
}
.history__title {
   margin: 16px 0px 21px;
   font-size: 54px;
   line-height: 62px;
}
.history__title span {
   color: #d67e34;
}
.history__subtitle {
   margin-bottom: 39px;

   font-size: 16px;
   line-height: 22px;
   color: #656363;
}

.number {
   display: flex;
   justify-content: space-around;

   text-align: center;
   font-family: "Open Sans";
}
.number__item {
   font-size: 40px;
   line-height: 54px;
   color: #bc9060;
}
.number__item span {
   display: block;
   font-size: 20px;
   line-height: 27px;
   color: #000000;
}

.history__images {
   position: relative;
   width: 539px;
   height: 497px;
}

.img-1 {
   position: absolute;
   z-index: 0;
   top: 65px;
   left: -13px;
}
.img-2 {
   position: absolute;
   z-index: -1;
   top: 0;
   right: 93px;
}

.img-3 {
   position: absolute;
   z-index: -1;
   bottom: 0;
   right: 0px;
}

.reservation {
   background: url("../images/bg/bg-history.jpg") center / cover no-repeat;
   position: relative;
}
.reservation:before {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
}
.reservation__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 357px;
}
.reservation__title {
   max-width: 601px;
   z-index: 10;
}
.reservation__suptitle {
   margin-bottom: 20px;
   font-family: "Tinos";
   font-style: normal;
   font-weight: 400;
   font-size: 52px;
   line-height: 60px;
   color: #d67e34;
   z-index: 1;
}
.reservation__subtitle {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #ffffff;
}
.reservation__btn {
   z-index: 10;
   min-width: 157px;
}
